<html>
    <head>
        <title>Sistema WEB Engenharia e Infraestrutura Predial</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Sistema WEB Engenharia e Infraestrutura Predial</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Exemplo de uma Postagem</a></h2>
            <p>Neste local inserimos as informações pertinentes.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Outro Exemplo de Subitem ou Postagem</a></h2>
            <p>Aqui digitamos as informações.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h3><a href="">Outra postagem</a></h3>
            <p>Digite suas informções aqui.</p>
        </div>
    </body>
</html>
